@font-face {
font-family: New Font;
src: url('../../assets/font/Dayrom.ttf') format('woff2');
font-display:swap;
}
@font-face {
  font-family: uuu;
  src: url('../../assets/font/LodehRegular.ttf') format('woff2');
  font-display: swap;
}
*{
box-sizing: border-box;
font-family: 'uuu', monospace;
}
html, body{
margin:0;
background-color:#D4EAF8;
}
header{
display:flex;
background: #D4EAF8;
}
header h1 {
margin:20px 0 20px 50px;
font-size: 2.0em;
}
article h2{
font-family: 'serif', helvetica;
font-size: 1.5em;
text-align: center;
text-transform: uppercase;
margin:0 1.5em 0 1.5em;
}
hr{
  border:1px solid #000;
}
article p.date{
font-family: 'Times New Roman', sans-serif;
font-size: 0.7em;
text-align: center;
}
article p{
font-size: 0.9em;
text-align: left;
line-height: 1.9em;
margin: 1.5em;
font-weight: 100;
font-family: 'Times New Roman', sans-serif;
}
article p.d:first-letter{
font-size: 3.5rem;
font-weight: 900;
}
article img.r{
margin:1.5em;
display:inline;
float: right;
}
article img.l {
  margin: 1.5em;
  display: inline;
  float: left;
}
footer{
background:#D4EAF8;
padding:1.5em;
}
footer p{
font-family: 'serif', helvetica;
font-size: 0.7em;
}
header button{
margin-left: 4.0em;
border:0;
font-size: 1.8em;
background:none;
}
header button:hover{
color:#8B8B8B;
}

#suggestions {
border: none;
display: none;
position: absolute;
background: none;
z-index: 1000;
width: 100%;
background:#000;
text-justify: center;
max-height: 350px;
overflow-y: auto;
text-align: center;
}
.suggestion-item {
padding: 10px;
margin:0.7em 1.5em 0.7em 1.5em;
cursor: pointer;
text-decoration: none;
color: #fff;
text-shadow: 1px 1px 1px #000;
        }
.suggestion-item:hover {
background-color: #f0f0f0;
}