@font-face {
font-family: New Font;
src: url('../../assets/font/Dayrom.ttf') format('woff2');
font-display:swap;
}
@font-face {
  font-family: uuu;
  src: url('../../assets/font/LodehRegular.ttf') format('woff2');
  font-display: swap;
}
*{
box-sizing: border-box;
font-family: 'uuu', monospace;
}
html, body{
margin:0;
background-color:#D4EAF8;
}
header{
display:flex;
background: #D4EAF8;
}
header h1 {
margin:20px 0 20px 50px;
font-size: 26px;
}
article h2{
font-family: 'New Font', sans-serif;
font-size: 18px;
text-align: center;
}
hr{
  border:1px solid #000;
}
article p.date{
font-family: 'Times New Roman', sans-serif;
font-size: 12px;
text-align: center;
}
article p{
font-size: 14px;
text-align: left;
line-height: 24px;
margin: 15px;
font-weight: 100;
font-family: 'Times New Roman', sans-serif;
}
article p.d:first-letter{
font-size: 3.5rem;
font-weight: 900;
}
article img.r{
margin:15px;
display:inline;
float: right;
}
article img.l {
  margin: 15px;
  display: inline;
  float: left;
}
footer{
background:#D4EAF8;
padding:15px;
}
footer p{
font-family: 'New Font';
}